# Title : Data Science Tools and Ecosystem

### Introductions 
In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-leran
6. Keras
7. TensorFlow
8. PyTorch

### Data Science Tools
Data Science tools|examples 
----|----
Comercial tools|Oracle,SQLServer,DB2,informatica, talend, Watson Studio Desktop,tableau,SPSS
Open source|postgres, MySQL, elasticsearch, CouchDB, mongoDB, hadoop,Spark,kibana, git, jupeterLab

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
total_minutes = 200
# Get hours with floor division
hours = total_minutes / 60
print(hours,'hour')

3.3333333333333335 hour

### Objective
* List popular languages for Data Science
* List libaries used by Data Science
* List Tools for Data Science

## Author
Yuqi Li